<!-- Header-->


<header class="py-8">
  <div class="container px-lg-8  ">
    <div class="p-4 p-lg-5 bg-light rounded-3 imagen">
      <div class="m-4 m-lg-5">
        <h5 class=" fw-bold text-white">   <img src="../assets/posicion.png" width="20px"> Bogot&aacute;</h5>

      </div>
      <div class="m-4 m-lg-5">
        <div class="col-md-1 imagenBogota">
          <img src="../assets/{{iconoBogota}}" width="35px">
        </div>
        <div class="col-md-1 tempBogota">
          {{temperatura}}°C
        </div>
      </div>
    </div>
  </div>

</header>
<!-- Page Content-->
<section class="pt-4">
  <div class="container px-lg-12">
    <!-- Page Features-->
    <div class="row gx-lg-5">
      <div class="col-lg-3 col-xxl-4 mb-4">
        <div class="card-body ">
          <h3 class="fw-bold">3 Days Forecast</h3>
        </div>
          <div class="card-body ">
            <div class="row tarjeta">
              <div class="col-sm-2 iconos">
                <img src="../assets/{{hoyIcono}}" width="35px">
              </div>
              <div class="col-sm-6">
                <p><b>{{hoy}}  </b>
                <span>{{hoyTiempo}}</span> </p>
              </div>
              <div class="col-sm-4 temperatura">
                {{hoyMinima}}°/{{hoyMaxima}}°
              </div>
            </div>
            <div class="row tarjeta">
              <div class="col-sm-2 iconos">
                <img src="../assets/{{manianaIcono}}" width="35px">
              </div>
              <div class="col-sm-6">

                <b>{{maniana}}</b> <br>
                <span>{{manianaTiempo}}</span>
              </div>
              <div class="col-sm-4 temperatura">
                {{manianaMinima}}°/{{manianaMaxima}}°
              </div>
            </div>
            <div class="row tarjeta">
              <div class="col-sm-2 iconos">
                <img src="../assets/{{pasadoIcono}}" width="35px">
              </div>
              <div class="col-sm-6">

                <b>{{pasadoManiana}}</b> <br>
                <span>{{pasadoTiempo}}</span>
              </div>
              <div class="col-sm-4 temperatura">
                {{pasadoMinima}}°/{{pasadoMaxima}}°
              </div>
            </div>

        </div>
      </div>
      <div class="col-lg-3 col-xxl-3 mb-3">
        <div class="card-body ">
          <h3 class="fs-4 fw-bold">Place to visit</h3>

        </div>
        <div class="card bg-light border-0 singapore">
          <div class="singaporeLetra">
            <img src="../assets/posicion.png" width="20px">
            <span>Arab Street Singapore</span>
          </div>

        </div>
      </div>
      <div class="col-lg-3 col-xxl-3 mb-3">
        <div class="card-body ">
          <div class="row add">
            <span > <b>+</b> Top Reviews</span>
            <div class="col-sm-2 ">
              <img src="../assets/perfil_uno.jpeg" class="avatar" >
            </div>
            <div class="col-sm-2 ">
              <img src="../assets/perfil_dos.jpeg" class="avatar">
            </div>
            <div class="col-sm-2 ">
              <img src="../assets/perfil_tres.jpeg" class="avatar">
            </div>
            <div class="col-sm-2 " >
              <div class="add"><span>6+</span></div>
            </div>

          </div>


        </div>
        <div class="card bg-light border-0">
          <div class="museum text-white">
            <img src="../assets/posicion.png" width="20px">
            <span>Art Science Museum</span>
          </div>

          <div class="fountain text-white">
            <img src="../assets/posicion.png" width="20px">
            <span>Fountain of Health</span>
          </div>

        </div>
      </div>
      <div class="col-lg-3 col-xxl-3 mb-3 climas">
        <div class="card bg-transparent border-0 ">

          <div class="col-sm-12 lyon">
            <div class="row">
              <div class="col-sm-3 lyonImagen">
                <img src="../assets/{{iconoLyon}}" width="35px">
              </div>
              <div class="col-sm-5 text-center">
                <h3>{{temperaturaLyon}}<span class="temperaturaOtros">°c</span></h3>
              </div>
              <div class="col-sm-4">
                <span>Lyon Francia</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center lyonHumedad">
                <span>Humidity: {{humedadLyon}} </span> &nbsp;&nbsp;

                <span>NorthWest &nbsp;  {{vientoLyon}}km/h </span>

              </div>
            </div>
          </div>

          <div class="col-sm-12 paris">
            <div class="row">
              <div class="col-sm-3 parisImagen">
                <img src="../assets/{{iconoParis}}" width="35px">
              </div>
              <div class="col-sm-5 text-center ">
                <h3>{{temperaturaParis}}<span class="temperaturaOtros">°c</span></h3>
              </div>
              <div class="col-sm-4">
                <span>Paris Francia</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center parisHumedad">
                <span>Humidity: {{humedadParis}} </span> &nbsp;&nbsp;

                <span>NorthWest &nbsp;  {{vientoParis}}km/h </span>

              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="card-body text-center">

              <button class="btn btn-light">Add Location</button>
            </div>
            <div class="card-body ">
              <img src="../assets/location.jpg" width="220px" >
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
</section>


<router-outlet></router-outlet>
