.tarjeta{
  margin: 10px;
  border: 1px solid #E5F1E2;
  border-radius: 12px;
  padding: 5px;

}
.temperatura{
  border-radius: 12px;
  background-color: blueviolet;
  color: white;
  text-align: center;
  font-size: 9pt;
  display:flex;
  justify-content: center;
  align-items: center;
}
span{
  font-weight: inherit;
  font-size: 8pt;
}
.imagen{
  background-image: url("../assets/banner.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.singapore{
  background-image: url("../assets/singapur.jpg");
  border-radius: 30px;
  height: 250px;
}
.singaporeLetra{
  color: white;
  padding: 15px;
  width: 80%;
}
.singaporeLetra span{
  font-size: 12pt;
  font-weight: bolder;
}
.museum{
  background-image: url("../assets/museum.jpeg");
  border-radius: 30px;
  height: 90px;
  margin-bottom: 50px;
  padding: 30px;
}
.fountain{
  background-image: url("../assets/fountain.jpeg");
  border-radius: 30px;
  height: 120px;
  padding: 30px;
}

.museum span{
  font-size: 12pt;
  font-weight: bolder;
}

.fountain span{
  font-size: 12pt;
  font-weight: bolder;
}
.iconos{
  display:flex;
  justify-content: center;
  align-items: center;
}
.avatar{
  border-radius: 5px;
  width: 30px;
}

.add span{
  font-weight: bolder;
  color: gray;
}
.lyon {
  height: 190px;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  background-color: #E5F1E2;
}
.lyon span{
  font-size: 10pt;
  font-weight: bolder;

}
.lyonHumedad span{
  font-size: 8pt;
  color: gray;
}

.paris {
  height: 190px;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  background-color: #E5F1E2;
}
.paris span{
  font-size: 10pt;
  font-weight: bolder;
}
.parisHumedad span{
  font-size: 8pt;
  color: gray;
}
.climas{
   top: -120px;
  z-index: 2;
}
.lyonImagen{
  padding: 5px;
  background-color: cornflowerblue;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.parisImagen{
  padding: 5px;
  background-color: cornflowerblue;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.temperaturaOtros{
  font-size: 10pt;
  color: gray;
}
button{
  border-radius: 8px;
  background-color: #D8E2D5;
  font-weight: bolder;
  height: 30px;
  font-size: 10pt;
  width: 120px;
}
.imagenBogota{
  background-color:#0B4D80 ;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  position: absolute; left: 50px; top: 80px; z-index: 2;
  border-radius: 0px 13px 13px 13px;
}
.tempBogota{
  background-color: #6389A7 ;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  position: absolute; left: 50px; top: 160px; z-index: 2;
  border-radius: 0px 0px 13px 13px;
  font-weight: bolder;
  color: white;
  font-size: 15pt;
}
